<ion-content>
  <div class="background">
    <div class="header">
      <h2>Le côté invisible des CFF</h2>
      <img src="assets/images/tpg-tram.jpg" alt="TPG tram" />
      <p>
        La plupart des gens tiennent pour acquis le bon fonctionnement des
        trains qu'ils prennent chaque matin. Ils ne réalisent pas souvent le
        travail considérable qui se fait pendant la nuit pour s'assurer que tout
        fonctionne comme sur des roulettes...
      </p>
      <ion-button
        expand="block"
        (click)="navigateTo('/vedette')"
        style="height: 50px"
      >
        En savoir plus
      </ion-button>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="card nightlife" (click)="navigateTo('/nightlife')">
            <img src="assets/images/nightlife.jpg" alt="Nightlife" />
            <p>Vie Nocturne</p>
            <span>Découvrez tous les établissements ouverts ou fermés.</span>
            <div class="tags">
              <ion-badge color="danger">{{ closedEstablishments }}</ion-badge>
              <ion-badge color="success">{{ openEstablishments }}</ion-badge>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card art-culture" (click)="navigateTo('/gallery')">
            <img src="assets/images/gallery.jpg" alt="Art & Culture" />
            <p>Art & Culture</p>
            <span
              >Explorez une galerie d'art numérique créée par la
              communauté.</span
            >
            <div class="tags">
              <ion-badge color="primary">New {{ newPhotos }}</ion-badge>
              <ion-badge color="secondary">{{ totalPhotos }}</ion-badge>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Triangle shape -->
    <div class="triangle"></div>
  </div>
</ion-content>
