<ion-content>
  <div class="background">
    <div class="header">
      <h2>The unseen side of the CFF</h2>
      <img src="assets/images/tpg-tram.jpg" alt="TPG tram" />
      <p>
        Most people take for granted the seamless operation of the trains they
        catch every morning. They don’t often realize the extensive work that
        happens during the night to ensure everything runs like clockwork...
      </p>
      <ion-button
        expand="block"
        (click)="navigateTo('/vedette')"
        style="height: 50px"
      >
        Read more
      </ion-button>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="card nightlife" (click)="navigateTo('/nightlife')">
            <img src="assets/images/nightlife.jpg" alt="Nightlife" />
            <p>Nightlife</p>
            <span>This is an example of what could be written here</span>
            <div class="tags">
              <ion-badge color="danger">{{ closedEstablishments }}</ion-badge>
              <ion-badge color="success">{{ openEstablishments }}</ion-badge>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card art-culture" (click)="navigateTo('/gallery')">
            <img src="assets/images/gallery.jpg" alt="Art & Culture" />
            <p>Art & Culture</p>
            <span
              >Articles about the nightlife, shows, and culture in Geneva.</span
            >
            <div class="tags">
              <ion-badge color="primary">New {{ newPhotos }}</ion-badge>
              <ion-badge color="secondary">{{ totalPhotos }}</ion-badge>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Triangle shape -->
    <div class="triangle"></div>
  </div>
</ion-content>
