<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        size-lg="4"
        *ngFor="let photo of photos$ | async"
      >
        <div class="gallery-item" (click)="openPhoto(photo)">
          <img [src]="photo.img" alt="Gallery Image" />
          <div class="photo-details">
            <small>by {{ photo.author }}</small>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="selectedPhoto !== null" (willDismiss)="closePhoto()">
    <ng-template>
      <div class="fullscreen-photo" [ngClass]="{ 'full-screen': showInfo }">
        <img
          [src]="selectedPhoto?.img"
          alt="Full-size Image"
          (click)="closePhoto()"
        />
        <button
          class="info-button"
          (click)="toggleInfo($event)"
          [ngClass]="{ open: showInfo }"
        >
          {{ showInfo ? "x" : "+" }}
        </button>
        <div *ngIf="showInfo" class="photo-info-overlay">
          <p>{{ selectedPhoto?.description }}</p>
          <small>{{ selectedPhoto?.author }}</small>
          <small>{{ selectedPhoto?.date }}</small>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="openAddPhotoModal()">
      Add Photo
    </ion-button>
  </ion-toolbar>
</ion-footer>
