.gallery-grid {
  padding: 10px;
}

.gallery-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .photo-details {
    margin-top: 10px;
    text-align: center;

    p {
      margin: 0;
      font-size: 14px;
      color: #333;
    }

    small {
      color: #666;
    }
  }
}

.fullscreen-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0;
  }

  .info-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1101;
    transition: all 0.3s ease;

    &.open {
      bottom: calc(100vh - 64%);
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .photo-info-overlay {
    position: absolute;
    height: 40%;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    z-index: 1100;

    p {
      margin: 10%;
      font-size: 16px;
    }

    small {
      font-size: 14px;
    }
  }
}

.add-photo-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

ion-content {
  --padding-bottom: 56px;
}

ion-footer {
  --ion-toolbar-background: #4e352ba6;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
