ion-content {
  --overflow: hidden;
}

.background {
  background: linear-gradient(to bottom, #411f1f00 20%, #f8b8a1 20%);
  height: 100vh;
  position: relative;
  z-index: 1;
  padding: 16px;
  overflow: hidden;
}

.scrollable-cards {
  margin-top: 40px;
  height: calc(100vh - 235px - 56px);
  overflow-y: auto;
  padding-bottom: 16px;
}

.custom-toast {
  --background: rgba(0, 0, 0, 0.8);
  --color: #ffffff;
  border-radius: 12px;
  font-size: 1rem;
  padding: 16px;
  text-align: center;
  width: 80%;
}
