<ion-content>
  <div class="background">
    <app-nightlife-map
      [establishments]="(establishments$ | async) || []"
      [selectedEstablishment]="selectedEstablishment"
      (markerClick)="focusEstablishment($event)"
    >
    </app-nightlife-map>

    <div class="scrollable-cards">
      <ion-grid *ngIf="!selectedEstablishment">
        <ion-row>
          <ion-col
            size="6"
            *ngFor="let establishment of (establishments$ | async) || []"
          >
            <app-nightlife-card
              [establishment]="establishment"
              (cardClick)="focusEstablishment(establishment)"
              [isExpanded]="false"
            >
            </app-nightlife-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="selectedEstablishment" class="expanded-card">
        <app-nightlife-card
          [establishment]="selectedEstablishment"
          (cardClick)="resetEstablishment()"
          [isExpanded]="true"
        >
        </app-nightlife-card>
      </div>
    </div>
  </div>
</ion-content>
